# DataPreprocessing

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

In [3]:
data = pd.read_json('intents.json')

In [4]:
data.head()

                                             intents
0  {'tag': 'greetings', 'patterns': ['Hello', 'Hi...
1  {'tag': 'airline_customer_service_definition',...
2  {'tag': 'airline_satisfaction_importance', 'pa...
3  {'tag': 'airline_complaint_handling', 'pattern...
4  {'tag': 'airline_flight_disruption_management'...

In [5]:
data.shape

(81, 1)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81 entries, 0 to 80
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   intents  81 non-null     object
dtypes: object(1)
memory usage: 1.3+ KB

In [7]:
df = data.dropna()

In [8]:
df.isnull().sum()

intents    0
dtype: int64

In [9]:
df.info

<bound method DataFrame.info of                                               intents
0   {'tag': 'greetings', 'patterns': ['Hello', 'Hi...
1   {'tag': 'airline_customer_service_definition',...
2   {'tag': 'airline_satisfaction_importance', 'pa...
3   {'tag': 'airline_complaint_handling', 'pattern...
4   {'tag': 'airline_flight_disruption_management'...
..                                                ...
76  {'tag': 'airline_flight_status_updates', 'patt...
77  {'tag': 'airline_group_bookings', 'patterns': ...
78  {'tag': 'airline_loyalty_program_partners', 'p...
79  {'tag': 'airline_onboard_entertainment', 'patt...
80  {'tag': 'airline_duty_free_shopping', 'pattern...

[81 rows x 1 columns]>

In [10]:
df.columns

Index(['intents'], dtype='object')

In [11]:
df.size

81

In [12]:
df.describe()

                                                  intents
count                                                  81
unique                                                 81
top     {'tag': 'greetings', 'patterns': ['Hello', 'Hi...
freq                                                    1

In [13]:
df.head()

                                             intents
0  {'tag': 'greetings', 'patterns': ['Hello', 'Hi...
1  {'tag': 'airline_customer_service_definition',...
2  {'tag': 'airline_satisfaction_importance', 'pa...
3  {'tag': 'airline_complaint_handling', 'pattern...
4  {'tag': 'airline_flight_disruption_management'...

In [14]:
df.head()

                                             intents
0  {'tag': 'greetings', 'patterns': ['Hello', 'Hi...
1  {'tag': 'airline_customer_service_definition',...
2  {'tag': 'airline_satisfaction_importance', 'pa...
3  {'tag': 'airline_complaint_handling', 'pattern...
4  {'tag': 'airline_flight_disruption_management'...